body .container {
  background-color: white;
}

button {
  border-radius: 0 !important;
  border: black solid 2px !important;
  box-shadow: 3px 3px !important;
}

.black-border {
  border: black solid 2px;
}

.no-x-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-x-margin {
  margin-left: 0;
  margin-right: 0;
}

.section-header {
  height: 40px;
}

/* .section-header-text {

} */

#scoresContainer div:nth-of-type(even) {
  background-color: #ededed;
}

#scoresContainer div:nth-of-type(odd) {
  background-color: #fff;
}
